.content-table {
    border-collapse: collapse; 
    margin: 25px 0;
    font-size: 1.1em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    size: 200px 100px;
 }