body {
  margin: 0;
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background: linear-gradient(to bottom, #f9fbfc 0%, #79b1fc 100%)

}

h4 {
  color: rgb(2, 77, 77);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(173, 172, 171);
}

h3 {
  color: rgba(3, 44, 97, 0.685);
  font-family: inside;
  font-style: oblique;
  cursor: default;
}

* {
  box-sizing: border-box
}

body {
  font-family: "Lato", sans-serif;
}


/*----------------------------popup--------------------------*/

* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  position: fixed;
  bottom: 23px;
  
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 0.4;
}


.card-title2 {
  font-weight: bolder;
  color: #ac1105;
}



/*  timeline*/

body {
  background-color: #1d2123;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  display: inline-block;
}

img {
  max-width: 100%;
}

button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d2123;
  margin: 0;
}
p {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}
.container2 {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  gap: 1rem;
  height: calc(180px + 1rem);
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.timelines h2 {
  text-align: center;
  color: rgb(248, 7, 7);
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 32px;
}
.d-flex-2 {
  display: flex;
  align-items: center;
}
.timeline-area {
  padding: 10px 0;
}
.all-timelines {
  position: relative;
}
.timelines h2 {
  text-align: center;
  color: rgb(10, 216, 223);
  font-weight: 600;
  margin-bottom: 40px;
}
.all-timelines::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 2px;
  background: #efa22f;
  top: 20px;
}
.single-timeline {
  margin-bottom: 22px;
}
.timeline-blank {
  width: 50%;
}
.timeline-text {
  width: 50%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.timeline-text h6 {
  color: #0984ff;
  font-weight: 900;
  display: inline-block;
  font-size: 1rem;
}
.timeline-text span {
  color: #085c75;
  display: block;
  width: 100%;
}
.single-timeline:nth-child(even) .timeline-text span {
  text-align: right;
}
.t-square {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
  background: #efa22f;
}
.single-timeline:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.single-timeline:nth-child(even) .t-square {
  right: -6px;
  left: unset;
}
.single-timeline:nth-child(even) .timeline-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
  .all-timelines::before {
    right: unset;
    top: 0;
  }
  .single-timeline:nth-child(2n) .timeline-text {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }
  .single-timeline:nth-child(2n) .t-square {
    left: -6px;
    right: unset;
  }
  .timeline-blank {
    display: none;
  }
  .timeline-text {
    width: 100%;
  }
  .single-timeline:nth-child(even) .timeline-text span {
    text-align: left !important;
  }
}
@media all and (max-width: 575px) {
}
@media all and (max-width: 360px) {
  .all-timelines::before {
    top: 32px;
  }
}

